body {
    background-image: url('D:\Design\ubafood\Site Ubafood\Balanco-Ubatuba-e1643393329131.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
}

.cta {
    background: #FF914D;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    display: flex;
    align-items: center;
}

.cta {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #FF914D;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta:hover {
    background-color: #ff6600;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff7f50;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    transition: 0.3s;
}

.submit-button {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #d45a0e;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}